{% extends 'base.html.twig' %}

{% block title %}
    {{ game.title }} | VidyaCollection
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block content %}
    {# Render image jeu #}
    <div class="image-container">
        <img src="{{ game.banner }}" class="game_banner" alt="Image">
        <img src="{{ game.image }}" class="game_image" alt="Image">
    </div>
    {# Render titre jeu #}
    <h1>{{ game.title }}</h1>
    {# Ligne séparatrice #}
    <hr class="separator">
    {# Render description jeu #}
    <p>Sypnosis : {{ game.description }}</p>
    {# Render date et créateurs #}
    <p>Sorti le {{ game.releaseDate|date('Y-m-d') }} par {{ creatorNames.name }} </p>

    {# Render des plateformes en une ligne #}
    <p> Disponible sur : 
        {% set platformList = '' %}
        {% for platformName in platformNames %}
        {% set platformList = platformList ~ platformName.name ~ (loop.last ? '' : ' - ') %}
        {% endfor %}
        {{ platformList }}
    </p>

    {# Render des reviews #}
    <p>Reviews : </p>
    {% for review in reviews %}
        <ul class="reviewList">
        <li>De : {{ review.username }}</li>
        <li>{{ review.body }}</li>
        <li>{{ review.note }} / 5</li>
        </ul>
    {% endfor %}
{% endblock %}
