{% extends 'base.html.twig' %}

{% block head %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}
{{ game.title }} | VidyaCollection
{% endblock %}

{% block content %}
    {# Render image jeu #}
    <div class="image-container">
        <img src="{{ game.banner }}" class="game_banner" alt="Bannière montrant une capture d'écran du jeu">
        <img src="{{ game.image }}" class="game_image" alt="Jaquette du jeu">
    </div>
    {# Render titre jeu #}
    <h1>{{ game.title }}</h1>
    {# Button to add the game to the user's list #}
    <form action="{{ path('addGameToList', {'id': game.id}) }}" method="post">
        <button type="submit">Add to My List</button>
    </form>
    {# Ligne séparatrice #}
    <hr class="separator">
    {# Render description jeu #}
    <p>Sypnosis : {{ game.description }}</p>
    {# Render date et créateurs #}
    <p>Sorti le {{ game.releaseDate|date('Y-m-d') }} par 
        {% set creatorList = '' %}
        {% for creatorName in creatorNames %}
        {% set creatorList = creatorList ~ creatorName.name ~ (loop.last ? '' : ', ') %}
        {% endfor %} 
        {{ creatorList }}
        </p>

    {# Render des plateformes en une ligne #}
    <p> Disponible sur : 
        {% set platformList = '' %}
        {% for platformName in platformNames %}
        {% set platformList = platformList ~ platformName.name ~ (loop.last ? '' : ' - ') %}
        {% endfor %}
        {{ platformList }}
    </p>

    {# Render des reviews #}
    <p>Reviews : </p>
    {% for review in reviews %}
        <ul class="reviewList">
        <li>De : {{ review.username }} | Note : {{ review.note }} / 5</li>
        <li>{{ review.body }}</li>
        </ul>
    {% endfor %}
{% endblock %}
