{% extends 'base.html.twig' %}

{% block title %}
Liste de {{ user.username }} | VidyaCollection
{% endblock %}

{% block content %}
    <div class="list-game-container"> <!-- Add this container -->
        {% for userGame in userGames %}
            <div class="list-game-entry">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{ asset('game/' ~ userGame.image) }}" class="list-game-image" alt="Image">
                        </div>
                        <div class="flip-card-back">
                            <p>Titre: {{ userGame.title }}</p>
                            <p>Date de sortie: {{ userGame.releaseDate|date('Y-m-d') }}</p>
                            <p>Note: {{ userGame.note }} / 5</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}