<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
        
    {% block javascripts %}
        {{ encore_entry_script_tags('js') }}
    {% endblock %}
</head>
<body>
    <header>
        {# Header div #}
        <div class="header-div">
            {# Logo #}
            <a href="{{ path('home') }}">
                <img class="logo" src="{{ asset('Logo.png') }}" alt="Logo">
            </a>    
            {# Log out button #}
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="login-button">Logout</a>
                    {% else %}
                        {# Login button #}
                        <a href="{{ path('app_login') }}" class="login-button">Log In</a>
            {% endif %}
        </div>

        {# Ligne séparatrice #}
        <hr class="header-separator">
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
