<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
        
    {% block javascripts %}
        {{ encore_entry_script_tags('js') }}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-div">
            <a href="{{ path('home') }}">
                <img class="logo" src="{{ asset('Logo.png') }}" alt="Logo">
            </a>
            <a href="{{ path('app_login') }}" class="login-button">Login</a>
            {{ form_start(form, {'attr': {'class': 'search-form'}}) }}
{{ form_row(form.title) }} 
<button type="submit">Search</button>
{{ form_end(form) }}


        </div>
        {# Ligne séparatrice #}
        <hr class="header-separator">
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
