<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}Default Title{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
        
    {% block javascripts %}
        {{ encore_entry_script_tags('js') }}
        {{ encore_entry_script_tags('js2') }}
    {% endblock %}
</head>
<body>
    <header>
        {# Header div #}
        <div class="header-div">
            {# Logo #}
            <a href="{{ path('home') }}" class="logo-parent">
                <img class="logo" src="{{ asset('Logo.png') }}" alt="Logo">
            </a>
            {# Menu déroulant utilisateur #}
            {% if app.user %}
                <div class="dropdown">
                    <div class="dropdown-wrapper">
                        <button class="bloc-top" id="dropdownButton">
                            <span>{{ app.user.username }}  ↓ </span>
                        </button>
                        <div class="bloc-links" id="dropdownContent">
                            <ul>
                                <li>
                                    <a href="{{ path('user_list', {'id': app.user.id}) }}">Ma Liste</a>
                                </li>
                                <li>
                                    <a href="#">Mon Profil</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {# Log out button #}
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="login-button">Logout</a>
                    {% else %}
                        {# Login button #}
                        <a href="{{ path('app_login') }}" class="login-button">Log In</a>
            {% endif %}
        </div>

        {# Ligne séparatrice #}
        <hr class="header-separator">
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
